<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Aktuell <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Veranstaltungen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Diagonale Preise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wir Gratulieren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">In Memoriam</a>
        </li>
        </ul>

        <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Über den Verband</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kontakt | Vorstand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mitglied werden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Impressem</a>
        </li>
        </ul>

        <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">VÖF on Facebook</a>
        </li>
    </ul>
</nav>