@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Filmhaus<br />
    Spittelberggasse 3<br />
    A- 1070 Vienna<br />
    <abbr title="Phone">P:</abbr>
    +43-1-526 97 41 (Tel & Fax) - Monday -Friday, 11 am - 2 pm
</address>

<address>
    <strong>E-Mail:</strong> <a href="mailto:office@filmdesigners.at">office@filmdesigners.at</a>
</address>

<p>
    If you are having troubles editing your website,
    please contact a person in relevance to your profession:
    Production Design: Hansjörg Mikesch
    Costume Design: Christine Ludwig
    Props: Hubert Klausner
</p>

<p>
    You would like to become VÖF-partner?
    You are already our partner, but your coordinates changed?
    Simply fill out the partner's data sheet, and email it back to us.
</p>

<h4>
    Executive Board
</h4>
<p>
    according to the general assembly 2015

    President: Birgit Hutter
    Treasurer: Hans Jager
    Secretary: Enid Löser

    other board members:
    Brigitta Fink Barbara Haegele, Christine Ludwig, Alexandra Maringer,
    Hans Jörg Mikesch, Florian Reichmann; Johannes Salat, Daniel Steinbach
    Thomas Vögel
</p>