@model IEnumerable<filmdesigners.at.Models.Chapter>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Austrian Filmdesigners Association</h1>
</div>
<div class="row">
    @if (Context.User != null)
    {
        <p>
            <a asp-action="Create">Create New Block</a>
        </p>
    }
    @foreach(var item in Model)
    {
        <div class="col-md-6">
            <h2>@item.Heading</h2>
            <p>@item.Text</p>
            <a asp-action="Edit" asp-route-id="@item.ChapterID">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.ChapterID">Delete</a>
        </div>
    }
</div>