@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Administration";
}
<h1>Administration</h1>
<div class="col-md-12">
    <h2>Newsletter</h2>
    <a asp-action="Index" asp-controller="Newsletters">Verwalten</a>
    <hr style="border-color: white" />
</div>