@{
    ViewData["Title"] = "DSGVO";
}
<div class="col-md-12">
    <h1>Dankeschön!</h1>
</div>
<div class="col-md-12">
    <p>
        Wir werden deine Daten weiterhin verantwortungsvoll bei uns aufbewahren.
    </p>
</div>
