@{
    ViewData["Title"] = "DSGVO";
    Layout = null;
}
<div class="col-md-12">
    <h1>Schade!</h1>
</div>
<div class="col-md-12">
    <p>
        Wir werden deine Daten bei nächster Gelegenheit löschen.
    </p>
</div>
