body {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #0e2533 !important;
    color: #ffffff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.sidebar {
    top: -2px;
}

a {
    color: #cb8d4a;
}

a:hover {
    color: #cb8d4a

}