@{
    ViewData["Title"] = "Please confirm your email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for registering!
        <br />
        Please check your inbox for your registration mail and open the Link inside to confirm your email.
        <br />
        You will be able to sign in afterwards
    </p>
</div>
